<p>This page is all about where to stay in Santa Fe </p>

<div class="hotel-sf">
  <h1 class="title">Hotel Santa Fe</h1>

    <%= image_tag('hotel-santa-fe.jpeg') %>
    <p>
        1501 Paseo de Peralta<br/>Santa Fe, NM
    </p>

  <p class="hotel-sf-link">
    <a href ="http://hotelsantafe.com/" target="_blank">Hotel Santa Fe </a>
  </p>
</p>
</div>

<hr>


<div class="sage-inn">
  <h1 class="title">Sage Inn</h1>

    <%= image_tag('sage-inn.jpg') %>
    <p>
      725 Cerrillos Road<br/>Santa Fe, NM
    </p>

  <p class="sage-inn-link">
    <a href ="http://santafesageinn.com/" target="_blank">Sage Inn</a>
  </p>
</p>
</div>
