<div class="page">
  <div class="hero" id="welcome">
  </div>
  <!-- <div class="holder-of-things">
    <section id="event" style="margin-top:800px;">
      <div class="row event-info">
        <h1>Event Information</h1>
        The event will be held at the Santa Fe Farmer's Market Pavillion on Satuday July 11th, 2015.
      </div>
    </section>
    <section id="lodging">
      <div class="row accomodations">
        <h1>Accomodations</h1>
        The event will be held at the Santa Fe Farmer's Market Pavillion on Satuday July 11th, 2015.
      </div>
    </section>
    <section id="travel">
      <div class="row travel">
        <h1>Getting to and from Santa Fe</h1>
        The event will be held at the Santa Fe Farmer's Market Pavillion on Satuday July 11th, 2015.
      </div>
    </section>
    <section id="santa-fe">
    </section>
  </div> -->
</div>
