@import "bootstrap-sprockets";
@import "bootstrap";
@import url(https://fonts.googleapis.com/css?family=Pacifico|Lobster+Two);
@import url(https://fonts.googleapis.com/css?family=Josefin+Sans:100,300,400,600,300italic);

body{
  font-family: 'Josefin Sans', sans-serif;
  padding-top:80px;
  //line-height: 1;
}

footer {
  background-color: #000;
  position: relative;
  color: #9d9d9d;
  padding: 10px;
}

ul
{
    list-style-type: none;
}
.navbar{
  padding:15px 60px;
  text-transform: uppercase;
  font-family: 'Josefin Sans', sans-serif;
}

.navbar-nav{
  float:right;
}
.navbar-brand{
  font-size: 16pt;
}
.row {
  text-align: center;
  padding:20px;
}

.row.travel,
.row.accomodations,
.row.registry {
  padding-top: 8%;
}

.wrapper{
  min-height: 100%;
  height:auto;
}

/*under contstruction message */
.message {
  text-align: center;
  background-color: white;
  width: 20%;
  margin-left: 38%;
  border-radius: 34%;
  padding: 43px;
  border: 20px solid #b20000;
}

.page #hero{
  background-color:white;
  margin-top:50px;
}

#event-details{
  // background-image: image-url("santa-fe-railyard-water-tower.jpg");
  background-image: image-url("IMG_2701.JPG");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  float: left;
  width: 100%;
  display: block;
  position: fixed;
  top: 0;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
}

#welcome{
  background: image-url("IMG_2701.JPG") no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.holder-of-things {
  position: relative;
  font-size: 16pt;
}

.event-info{
  padding:80px;
}


#event,
#santa-fe,
#lodging,
#travel,
#registry{
  min-height:800px;
  background-color: rgba(0, 0, 0, 0.6);
  color:white;
  display:block;
}
/*swoopies*/
.event-info img,
.accomodations img,
.travel img,
.santa-fe img,
.registry img {
  height:30px;
  width: 150px;
}

.holder-of-things p{
  font-size: 20pt;
  padding: 10px;
  height: 100%;
}
.event-info h2{
  font-family: 'Lobster', cursive;
}
.hotel{
  font-style: italic;
}

.hotel-santa-fe{
  border-right: thin solid white;
}

.hotel-sf,
.sage-inn {
  text-align: center;
  display:block;
}

.hotel-sf-link,
.sage-inn-link{
  margin: 30px;
  text-align: center;
}

.other-lodging{
  text-align:center;
  font-style: italic;
  font-size: 14pt;

}
/******Links and hover events****/

a:visited,
a:hover{
  text-decoration:none;
}

.link a,
.santa-fe-events a{
  color:#fff;
  padding: 6px;
}
.link a {
  border: thin solid;
  border-radius: 2px;
}

a, .link a:hover,
.santa-fe-events a:hover{
  color: #c2004a;
  text-decoration:none;
}

.link:hover,
.santa-fe-events:hover{
  -moz-transform: scale(1.1);
  -webkit-transform: scale(1.1);
  -o-transform: scale(1.1);
  -ms-transform: scale(1.1);
  transform: scale(1.1);
}

/*all things directions*/

.driving h3,
.flying h3{
  text-decoration: underline;
}

.map-container{
  height: auto;
  overflow: auto;
}
#map-canvas {
  text-align:center;
  width: 500px;
  height: 350px;
  margin-top: 10px;
  float:left;
  margin-left:10%;
}
.directions-text{
  float:right;
  width: 400px;
  margin-right: 20%;
}
.directions-text p{
  font-size: 16pt;
  text-align: left;
}

.details{
  margin:10% 10% 0;
}



/*MEDIA QUERIES*/

/*iPad*/
@media screen and (max-width: 1024px){

  .container{width:75%;}
  .column{width:25%;}
  .column .btn{padding: 0px;}
}
/*iPad*/
@media screen and (max-width: 650px){

  #wrapper{background:blue;}
  .column{width:80%; float:none;}
}
/*iPhone*/
@media screen and (max-width: 480px) and (min-width: 320px){
  #welcome{
    background: image-url("FullSizeRender.jpg") no-repeat center fixed;
    background-color: #000;
    max-height: 675px !important;
    -webkit-background-size: 90%;
    -moz-background-size: 90%;
    -o-background-size: 90%;
    background-size: 90%;
  }
  #event-details{
    background-color: #000;
  }
  .navbar {
    padding: 15px;
  }
  footer {
    display:none;
  }
  .navbar-brand,
  .container{
    padding: 0;
  }
  .navbar-toggle{
    margin-right: 0px;
    margin-top: -6px;
  }
  .abq,
  .hotel-santa-fe{
    border-bottom: 1px solid #fff;
  }
  #map-canvas{
    display:none;
  }

  .directions-text{
    margin: 0;
    width:auto;
  }
}
